{% extends 'base.html' %}

{% block content %}

<div class='container'>
    <br/>
    <h1 style = "text-align: center;">Error 403</h1>

    <br/>
    <br/>
    <p style = "text-align: center;" >API rate limit exceeded for your IP address. Check docs for more information - 
        <a href="https://docs.github.com/en/rest/overview/resources-in-the-rest-api#rate-limiting"> 
            "https://docs.github.com/en/rest/overview/resources-in-the-rest-api#rate-limiting"
        </a>
    </p>
    <p style = "text-align: center;"> Login with your GitHub account to get more requests
    </p>


</div>

{% endblock %}