{% extends 'base.html' %}

{% block content %}

<div class='container'>
    <br/>
    <h1 style = "text-align: center;">About</h1>

    <p> UserRepos is an application which allows you to:</p>
    <ul>
        <li>
            list all repositories (names and list of used programming languages) for a selected GitHub user
        </li>
        <li>
            obtain the percentage of used programming languages among all repositories for a selected GitHub user
        </li>
    </ul>

</div>

{% endblock %}